img {
  width: 680px;
  height: 320px; }

#content-slider {
  width: 100%;
  height: 320px;
  margin: 10px auto 0; }

#slider {
  border: 5px solid #eaeaea;
  height: 320px;
  width: 680px;
  margin: 40px auto 0;
  overflow: hidden;
  position: relative; }

#mask {
  width: 2040px;
  position: relative; }
  #mask ul {
    float: left;
    padding: 0;
    margin: 0; }
  #mask li {
    list-style: none;
    position: relative; }
    #mask li .tooltip {
      position: absolute;
      top: 0px;
      left: 10px; }

#mask li {
  -webkit-animation: cycle 10s linear infinite; }
#mask:hover li {
  -webkit-animation-play-state: paused; }

@-webkit-keyframes cycle {
  0% {
    -webkit-transform: translateX(0px); }

  29.33333% {
    -webkit-transform: translateX(0px); }

  33.33333% {
    -webkit-transform: translateX(-680px); }

  62.66667% {
    -webkit-transform: translateX(-680px); }

  66.66667% {
    -webkit-transform: translateX(-1360px); }

  96.0% {
    -webkit-transform: translateX(-1360px); } }

.progress-bar {
  position: relative;
  width: 680px;
  height: 5px;
  background: white;
  -webkit-animation: progressBarExpand 10s ease-out infinite; }

#slider:hover .progress-bar {
  -webkit-animation-play-state: paused; }

@-webkit-keyframes progressBarExpand {
  0% {
    width: 0%;
    opacity: 0; }

  29.33333% {
    width: 100%;
    opacity: .7; }

  33.33333% {
    width: 0%;
    opacity: 0; }

  62.66667% {
    width: 100%;
    opacity: .7; }

  66.66667% {
    width: 0%;
    opacity: 0; }

  96.0% {
    width: 100%;
    opacity: .7; } }
